/* 重置一些基础样式 */
/* docx转换为html：https://wordtohtml.net/ */
body, h1, h2, h3, p, ul, li, nav, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    
    background-image: url(../resources/misaki.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 200vh;
}

/* 头部样式 */
header {
    background-color: rgba(33, 33, 33, 0.9);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    height: 130px;
}

header h1 {
    margin-bottom: 0.5em;
}

/* 导航菜单样式 */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    /* text-decoration: none; */
}

/* 主要内容样式 */
main {
    /* background-image: url(resources/misaki.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 1000px; */
    user-select: text;
}

section{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 1000px;
    overflow: hidden;
}

h2 {
    margin-bottom: 0px;
}

article {
    background: rgba(255, 255, 255, 0.7);
    padding: 1em;
    margin-bottom: 20px;
    /* white-space: pre-wrap; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 200vh;
}

article h3 {
    color: #333;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    
}

/* 响应式设计 */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }
}