/* 重置一些基础样式 */
body, h1, h2, h3, p, ul, li, nav, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image: url(../resources/misaki.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 头部样式 */
header {
    background-color: rgba(33, 33, 33, 0.9);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin-bottom: 0.5em;
}

/* 导航菜单样式 */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* 主要内容样式 */
main {
    user-select: text;
}

section {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    overflow: hidden;
}

#articles-container {
    flex-grow: 1;
}

h2 {
    margin-bottom: 10px;
}

article {
    background: rgba(255, 255, 255, 0.7);
    padding: 1em;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

article h3 {
    color: #333;
}

/* 分页导航样式 */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background: transparent;
    border: none;
}

#pagination a.active {
    color: white;
    background-color: rgba(0, 123, 255, 0.8);
    border-radius: 50%;
}

#pagination a:hover {
    color: white;
    background-color: rgba(0, 123, 255, 0.6);
    border-radius: 50%;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}
